

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  background-color: #241e16;
  color: white!important;
  font-family: serif;
}
nav{
  margin: 2%;
}
.mainImg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainImg img{
  width: 50%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  
}
.mainIntro{
  text-align: right;
  padding: 10%;
}
.container1{
  display: flex;
  justify-content: center;
  padding: 10%;
  text-align: right;
}

.writing{
  display: inline-block;
  
}

.container1 h1{
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  animation: type 2s steps(12),
    blink .5s step-end infinite alternate;
  color: green;
  float: right;

}

@keyframes type {
  from { width: 0 }
  to { width: 110% }
}

@keyframes blink {
  50%{
    border-color: transparent;
  }
}

.mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.about{
    padding-top: 20vh;
    height: 70vh;
    margin-bottom: 30vh;
}
.about p{
 font-size: x-large;
}
.aboutContainer{
 padding: 5%;
}
.aboutImg img{
 width: 80%;
 opacity: 0.7;
}

.project{
  padding-top: 10vh;
  margin-bottom: 3vh;
}
.card-img-top{
  width: 18rem;
  height: 17rem;
}
.card{
  display: block;
  background-color: transparent;
  border: 3px solid rgb(177, 167, 167);
  margin: 5%;
}
.card-body{
  
}
.card-body a{
  margin-bottom: 0;
}

.skill img{
  width:5rem;
  
  margin: 5%;
}
.fa {
  padding: 2rem;
  font-size: 3rem;
  width: 6rem;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.table{
  border: 1px solid rgb(78, 78, 78);
  border-radius: 60px!important;
  padding: 100px!important;
}

.line{
  width:60vw;
  background: red;
    height: 6px;
  margin-top: 5vh;
  margin-bottom: 5vw;
  animation: mymove 3s infinite;
}

@keyframes mymove {
  from {background-color: rgb(74, 110, 157);}
  to {background-color: rgb(0, 255, 157);}
}